@charset "UTF-8";

.container{
    display: flex;
    padding: 10px 20px;
    .content{
        flex: 1;
        border: 1px solid #ccc;
        background: #62a2b2;
        color: #fff;
        padding: 10px;
        text-align: center;
    }
    .title{
        margin-bottom: 20px;
    }
}

